/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Navigation */

.top-bar {
  height: 80px;
  background-color: #15b3bfbc;
  color: white;
}

.nav-items {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 28px;
}

.nav-items > a {
    color: white;
}

.nav-items > a {
    padding: 15px;
    border-radius: 8px;
}

.nav-items > .active {
    font-weight: 1000;
    background-color: #13e9f0;
    padding: 15px;
    border-radius: 8px;
} 

.nav-items > a:hover {
    transform: scale(1.1,1.1);
} 

/* Input fields of add-form class */

.add-form {
  margin: 100px 25%;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
  font-weight: bold;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control input:hover {
  border-color: #13e9f0;
}

/* Button styling */

.btn {
  display: inline-block;
  background: #15b3bfbc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-family: inherit;
  font-weight: bold;
}

.btn:active {
  transform: scale(0.9);
}

.btn-block {
  display: block;
  width: 100%;
}

/* Contacts */

.contact {
  margin: 20px 0;
  padding: 10px 20px;
  min-height: 100px;
  color: white;
  background-color: rgb(254, 121, 98);
  border-radius: 10px;
  cursor: pointer;
}

.contact:hover{
  transform: scale(1.1);
}

/* Update & remoev btns */

.update-remove-div{
  display: flex;
  justify-content:space-evenly;
}

.update-btn, .remove-btn{
  display: inline-block;
  background: #15b3bfbc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-family: inherit;
  font-weight: bold;
}

.update-btn:active, .remove-btn:active {
  transform: scale(0.9);
}

.update-btn:hover, .remove-btn:hover{
  background-color: #53d7e0f1;
}

/* Filter section */

.filter-section>div{
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: column; */
  margin-top: 10px;
}

.filter-section input{
  border-radius: 5px;
  width: 50%;
  padding: 10px;
  margin: 10px;
}

.filter-section button{
  border-radius: 5px;
  width: 50%;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.458);
  color: white;
}

.filter-section button:hover{
  background-color: rgba(78, 77, 77, 0.458);
  color: white;
}

.filter-section button:active{
  transform: scale(0.9,0.9);
  color: rgb(254, 121, 98);
}

.filter-section input:hover{
  border-color: rgb(254, 121, 98);
}

/* Utils */

.container {
  padding: 0 10vh;
}
 
/*Media Query (not accurate :(*/
@media only screen and (max-width:1030px){

  .filter-section>div{
    flex-direction: column;
  }

  .filter-section input{
    width: 100%;
  }
}